In [1]:
import pandas as pd
import os

In [2]:
os.getcwd()

'/Users/suanybarahona/Documents/data'

In [80]:
Blast = pd.read_csv('fjc.csv')

/var/folders/rp/lgskb8cx1vzgzb8nb18p5vxw0000gn/T/ipykernel_32167/1145646179.py:1: DtypeWarning: Columns (2,3,4,10,14,15,31,41,46,51,53,54,55,64,71,83,88,95,98,100,107,110,112,119,122,124) have mixed types. Specify dtype option on import or set low_memory=False.
  Blast = pd.read_csv('fjc.csv')

In [81]:
Blast

,FISCALYR,CIRCUIT,DISTRICT,OFFICE,DOCKET,DEFNO,CTDEF,NAME,REOPSEQ,TYPEREG,...,CTTRTRN,CTTR,CTTRWOR,CTTRR,CTPN,CTPNWOF,SOURCE,VER,LOADDATE,TAPEYEAR
0,1996,0,90,1,6400488,1,-8,NaN,0,CR,...,0,0,0,0,1,0,FUGITIVE,-8,03/06/2012,2099
1,1996,0,90,1,7100840,1,-8,NaN,0,CR,...,0,0,0,0,1,0,FUGITIVE,-8,03/06/2012,2099
2,1996,0,90,1,7101814,1,-8,NaN,0,CR,...,0,0,0,0,1,0,FUGITIVE,-8,03/06/2012,2099
3,1996,0,90,1,7800367,1,-8,NaN,0,CR,...,0,0,0,0,1,0,FUGITIVE,-8,03/06/2012,2099
4,1996,0,90,1,7800367,2,-8,NaN,0,CR,...,0,0,0,0,1,0,FUGITIVE,-8,03/06/2012,2099
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5430629,2022,11,3J,6,2100012,1,1,NaN,0,CR,...,0,0,0,0,1,1,CMECF,1,03/11/2022,2099
5430630,2022,11,3J,6,2100013,1,1,NaN,0,CR,...,0,0,0,0,1,1,CMECF,0,04/07/2022,2099
5430631,2022,11,3J,6,2200001,1,1,NaN,0,CR,...,0,0,0,0,1,1,CMECF,0,04/07/2022,2099
5430632,2022,11,3J,6,8900009,1,1,NaN,0,CR,...,0,0,0,0,1,1,CMECF,0,10/02/2012,2099
5430633,2022,11,3J,6,9900010,2,-8,NaN,0,CR,...,0,0,0,0,1,1,MASTER,0,03/21/2012,2099

In [4]:
Months = []
Years = []
for result in Blast.SENTDATE:
    Months.append(result[0:2])
    Years.append(result[6:])

Blast['SENTYR']= Years
Blast['SENTMON']= Months

In [5]:
import re
booleans = []
for result in Blast.SENTYR:
    if  2019 > int(result) > 2001:
        booleans.append(True)
    else:
        booleans.append(False)

Blast['Counts']=booleans

In [8]:
# filter dataset
Filtered = pd.Series(booleans)
New_blast_df = Blast[Filtered]

Rows_removed=Blast.shape[0]- New_blast_df.shape[0]

In [9]:
#recode DISTRICT variable
new_district_values=[]
for result in New_blast_df.DISTRICT:
    if result == "3A":
        new_district_values.append(30)
    elif result == "3C":
        new_district_values.append(31)
    elif result == "3E":
        new_district_values.append(32)
    elif result == "3G":
        new_district_values.append(33)
    elif result == "3J":
        new_district_values.append(34)
    elif result == "3L":
        new_district_values.append(35)
    elif result == "3N":
        new_district_values.append(96)
    elif result == "7-":
        new_district_values.append(95)
    else:
        new_district_values.append(result)

New_blast_df['DISTRICT']=new_district_values

/var/folders/rp/lgskb8cx1vzgzb8nb18p5vxw0000gn/T/ipykernel_32167/2234729878.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  New_blast_df['DISTRICT']=new_district_values

In [10]:
# recode PRISTOT variable
new_pris_values = []
PRISTOTFLAG=[]
for result in New_blast_df.PRISTOT:
    if result == -1:
        new_pris_values.append(0)
        PRISTOTFLAG.append(1)
    elif result == -2:
        new_pris_values.append(0)
        PRISTOTFLAG.append(1)
    elif result == -3:
        new_pris_values.append("NA")
        PRISTOTFLAG.append(1)
    elif result == -4:
        new_pris_values.append(9996)
        PRISTOTFLAG.append(1)
    elif result == -5:
        new_pris_values.append(9998)
        PRISTOTFLAG.append(1)
    elif result == -8:
        new_pris_values.append(0)
        PRISTOTFLAG.append(1)
    else:
        new_pris_values.append(result)
        PRISTOTFLAG.append(0)

New_blast_df["PRISTOT"]= new_pris_values

/var/folders/rp/lgskb8cx1vzgzb8nb18p5vxw0000gn/T/ipykernel_32167/3076036564.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  New_blast_df["PRISTOT"]= new_pris_values

In [11]:
PRISTOTFLAG=[]
new_pris_values=[]
for result in New_blast_df.PRISTOT:
    if result == -1:
        new_pris_values.append(0)
        PRISTOTFLAG.append(1)
    elif result == -2:
        new_pris_values.append(0)
        PRISTOTFLAG.append(1)
    elif result == -3:
        new_pris_values.append("NA")
        PRISTOTFLAG.append(1)
    elif result == -4:
        new_pris_values.append(9996)
        PRISTOTFLAG.append(1)
    elif result == -5:
        new_pris_values.append(9998)
        PRISTOTFLAG.append(1)
    elif result == -8:
        new_pris_values.append(0)
        PRISTOTFLAG.append(1)
    else:
        new_pris_values.append(result)
        PRISTOTFLAG.append(0)

New_blast_df["PRISTOT"]= new_pris_values
New_blast_df["PRISTOTFLAG"]=PRISTOTFLAG

/var/folders/rp/lgskb8cx1vzgzb8nb18p5vxw0000gn/T/ipykernel_32167/1653901057.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  New_blast_df["PRISTOT"]= new_pris_values
/var/folders/rp/lgskb8cx1vzgzb8nb18p5vxw0000gn/T/ipykernel_32167/1653901057.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  New_blast_df["PRISTOTFLAG"]=PRISTOTFLAG

In [12]:
PROBTOTFLAG=[]
new_prob_values=[]
for result in New_blast_df.PROBTOT:
    if result == -1:
        new_prob_values.append(0)
        PROBTOTFLAG.append(1)
    elif result == -8:
        new_prob_values.append(0)
        PROBTOTFLAG.append(1)
    else:
        new_prob_values.append(result)
        PROBTOTFLAG.append(0)

New_blast_df["PROBTOT"]= new_prob_values
New_blast_df["PROBTOTFLAG"]=PROBTOTFLAG

/var/folders/rp/lgskb8cx1vzgzb8nb18p5vxw0000gn/T/ipykernel_32167/846511845.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  New_blast_df["PROBTOT"]= new_prob_values
/var/folders/rp/lgskb8cx1vzgzb8nb18p5vxw0000gn/T/ipykernel_32167/846511845.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  New_blast_df["PROBTOTFLAG"]=PROBTOTFLAG

In [74]:
x =0
y =0
val=2
lengths=[]
new_code_values=[]

for result in New_blast_df.TTITLE5:
    new_code=-8 
    if result != "-8":
        x=int(result.find(":"))+1
        y=int(result.find("."))
        new_code=result[x:y]
        if "=" in new_code:
            z=new_code.find("=")
            new_code=new_code[:z]
        if "-" in new_code:
            z=new_code.find("-")
            new_code=new_code[:z]
    
    digits=[]
    w=len(str(new_code))
    code=str(new_code)
    for i in range(w):
        if 65 <= ord(code[i])<=90:
            pass
        else:
            digits.append(code[i])
    new_code=''.join(digits)
    
    title=result[0:x-1]


    if new_code!= "-8":
        new = title + new_code
        new_code_values.append(new)
    else:
        new_code_values.append(new_code)

New_blast_df["FJDcode10"]=new_code_values

/var/folders/rp/lgskb8cx1vzgzb8nb18p5vxw0000gn/T/ipykernel_32167/3411838489.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  New_blast_df["FJDcode10"]=new_code_values

print(New_blast_df.FJDcode1.head().value_counts())
print(New_blast_df.FTITLE2.head().value_counts())

In [75]:
New_blast_df.fillna("NA",inplace=True)

/var/folders/rp/lgskb8cx1vzgzb8nb18p5vxw0000gn/T/ipykernel_32167/2250518169.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  New_blast_df.fillna("NA",inplace=True)

In [76]:
New_blast_df.replace(-8,"NA", inplace=True)
New_blast_df

/var/folders/rp/lgskb8cx1vzgzb8nb18p5vxw0000gn/T/ipykernel_32167/2315487077.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  New_blast_df.replace(-8,"NA", inplace=True)

,FISCALYR,CIRCUIT,DISTRICT,OFFICE,DOCKET,DEFNO,CTDEF,NAME,REOPSEQ,TYPEREG,...,FJDcode1,FJDcode2,FJDcode3,FJDcode4,FJDcode5,FJDcode6,FJDcode7,FJDcode8,FJDcode9,FJDcode10
933290,2002,0,90,1,7,1,NA,NA,0,CR,...,181962,-8,-8,-8,-8,181962,-8,-8,-8,-8
933300,2002,0,90,1,36,1,NA,NA,0,CR,...,21841,-8,-8,-8,-8,21841,-8,-8,-8,-8
933306,2002,0,90,1,54,1,NA,NA,0,CR,...,1813,1813,1813,181956,181343,181343,181343,1813,1813,1813
933307,2002,0,90,1,54,2,NA,NA,0,CR,...,1813,1813,181956,181343,181343,181343,181343,1813,1813,181956
933320,2002,0,90,1,76,1,NA,NA,0,CR,...,21846,-8,-8,-8,-8,21846,-8,-8,-8,-8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4807450,2019,11,34,5,1800007,1,1,NA,0,CR,...,81326,-8,-8,-8,-8,81326,-8,-8,-8,-8
4807451,2019,11,34,5,1800008,1,1,NA,0,CR,...,21846,18924,21841,21841,21841,21841,21846,21841,18924,21841
4807452,2019,11,34,5,1800008,2,2,NA,0,CR,...,21846,21841,21841,21843,-8,21843,21846,21841,21841,-8
4807453,2019,11,34,5,1800009,1,1,NA,0,CR,...,81326,-8,-8,-8,-8,81326,-8,-8,-8,-8
4807515,2019,11,34,6,1800004,1,1,NA,0,CR,...,18641,-8,-8,-8,-8,18641,-8,-8,-8,-8

In [77]:
FJC_2018 = New_blast_df[(New_blast_df.SENTYR == "2018")]

In [79]:
#FJC_2018.to_csv(r'/Users/suanybarahona/Documents/FJC_2018.csv')
#New_blast_df.to_csv(r'/Users/suanybarahona/Documents/FJC_clean.csv')