In [1]:
# import libraries
import pandas as pd
import numpy as np
import re

In [19]:
# read file
ussc_18 = pd.read_csv('opafy18nid.csv')

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0,36,40,41,42,44,48,50,52,53,54,55,58,59,60,61,62,63,66,67,69,73,74,75,76,77,82,83,119,120,121,124,157,167,170,171,172,174,175,176,182,186,187,188,189,195,206,207,208,209,210,211,212,213,217,220,235,237,238,239,240,241,242,261,277,278,332,1216,2100,2101,2103,2104,2106,2107,2112,2113,2188,2189,2264,2265,2340,2341,2416,2417,2492,3709,3784,3785,3860,3861,3936,3937,4012,4013,4088,4089,4164,4165,4240,4241,4316,4317,4392,4393,4468,4469,4544,4545,4620,4621,4696,4697,4772,4773,4848,4849,4924,4925,5000,5001,5076,5077,5152,5153,5228,5229,5304,6521,6596,6597,6672,6673,6748,6749,6824,6825,6900,6901,6976,6977,7052,7053,7128,7129,7204,7205,7280,7281,7356,7357,7432,7433,7508,7509,7584,7585,7660,7661,7736,7813,7888,9409,9484,9485,9560,10625,10700,12221,12296,12297,12372,13437,13512,15033,15108,15109,15184) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
# USSC data pre-processing

# 1) keep only the columns we need
# get unique counts for each column to determine .25 threshold
# keep common columns (~163 columns for all years)

# 2) variables roundSENTTOT and floorSENTTOT
# roundSENTTOT rounds to the nearest integer 
# floorSENTTOT truncates any fractional portion of SENTTOT

# 3) reconcile SENTTOT and TOTPRISN

# 4) SENTTOT set to 0 if missing -> indicates zero-length sentence
# create var SENTTOTFLAG to flag records that have been recorded

# 5) Modify NWSTAT1-5
# truncate NWSTAT codes to include only the title and section
# create new variables USSCcode1-5

# 6) set empty fields to NA
# (~171 variables in finalized dataset)

In [6]:
# 1) common columns to keep that were available for 2018

# ussc_18[['SENTMON', 'SENTYR', 'SENTTOT', 'TOTPRISN', 'OFFGUIDE', 'SENTRNGE', 'NWSTAT1', 'NWSTAT2', 'NWSTAT3', 'NWSTAT4', 'NWSTAT5']]

In [ ]:
# 2018 variables missing
# CASLGKY, SENTTOT0, DEFCONSL, OFFTYPE2 = OFFGUIDE, SENTDATE = SENTMON+SENTYR, OFFTYPESB, BOOKER = SENTRNGE, OFFTYPESB

In [56]:
ussc_18.USSCIDN

0        2421881
1        2421882
2        2421883
3        2421884
4        2421885
          ...
69420    2519665
69421    2519666
69422    2519670
69423    2519672
69424    2519681
Name: USSCIDN, Length: 69425, dtype: int64

In [28]:
mod = ussc_18[[ 'CIRCDIST', 'SAFETY', 'ZONE', 'AMTFINEC','AMTREST', 'AMTTOTAL', 'COSTSUP', 'FINE', 'TOTREST', 'SENTTOT', 'SENSPLT0', 'USSCIDN', 'ACCAP', 'ACCGDLN',
'ACCTRESP', 'CAROFFAP', 'AGE', 'ALTDUM', 'ALTMO', 'AMENDYR', 'CHAP2', 'CITIZEN', 'CITWHERE', 'COMBDRG2', 'COMDUM', 'COSTSDUM', 'CRIMHIST', 'CRIMPTS', 'DAYSDUM', 'DISPOSIT', 
'DRUGTYP1', 'DSIND', 'DSJANDC', 'DSPLEA', 'DSPSR', 'DSSOR', 'ECONDUM', 'EDUCATN', 'ENCRYPT1', 'FINECDUM', 'FINEWAIV', 'HISPORIG', 'HOMDUM', 'HRCOMSRV', 'INTDUM', 'IS924C', 
'MOCOMCON', 'MOHOMDET', 'MOINTCON', 'MONCIRC','MONRACE','MONSEX','NEWCIT','NEWCNVTN','NEWEDUC','NEWRACE','NOCOMP','NOCOUNTS','NOUSTAT','NUMDEPEN','POINT1','POINT2','POINT3',
'PRESENT','PRISDUM','PROBATN','PROBDUM','RANGEPT','RESTDUM','SAFE','SENTIMP','SENTPTS','SOURCES','SUPRDUM','SUPREL','TOTCHPTS','TOTDAYS','TOTUNIT','TYPEMONY','TYPEOTHS',
'UNIT1','VIOL1PTS','WEAPON','WEAPSOC','XCRHISSR','XFOLSOR','YEARS','DRUGMIN','GLMIN','GLMAX','GUNMIN1','GUNMIN2','STATMAX','STATMIN','TOTPRISN','XMAXSOR','XMINSOR','SMIN1',
'SMAX1','POOFFICE','TIMSERVD','TIMSERVM','SPECASSM','ABUS1','ABUSHI','ADJOFL1','ADJOFLHI','ADJ_B1','ADJ_BHI','ADJ_C1','ADJ_CHI','ADJ_D1','ADJ_DHI','ADJ_E1','ADJ_EHI','ADJ_F1',
'ADJ_FHI','ADJ_G1','ADJ_GHI','AGGROL1','AGGROLHI','BASE1','BASEHI','FLIGHT1','FLIGHTHI','MITROL1','MITROLHI','OBSTRC1','OBSTRCHI','OFFVCT1','OFFVCTHI','RSTRVC1','RSTRVCHI',
'TEROR1','TERORHI','USKID1','USKIDHI','VULVCT1','VULVCTHI','GDLINE1','GDSTAT1','GDLINEHI','GDSTATHI','STA1_1','STA2_1','NWSTAT1','NWSTAT2','CRPTS',
'OFFGUIDE','SENTMON','SENTYR','SENTRNGE','NWSTAT3','NWSTAT4','NWSTAT5'
]]
mod.to_csv('mod2_20218.csv', index=False)

In [29]:
mod

,CIRCDIST,SAFETY,ZONE,AMTFINEC,AMTREST,AMTTOTAL,COSTSUP,FINE,TOTREST,SENTTOT,...,NWSTAT1,NWSTAT2,CRPTS,OFFGUIDE,SENTMON,SENTYR,SENTRNGE,NWSTAT3,NWSTAT4,NWSTAT5
0,43,0,D,0,0,0,0,0,0,172,...,21841A1,21841B1B,1,10,10,2017,7,21846,,
1,80,,A,0,0,0,0,0,0,.66,...,81326A,81326B,0,17,10,2017,0,,,
2,80,,C,0,0,0,0,0,0,6,...,81326A,81326B,1,17,10,2017,3,,,
3,80,,B,0,0,0,0,0,0,4,...,81326A,81326B,1,17,10,2017,3,,,
4,80,,A,0,0,0,0,0,0,.59,...,81326A,81326B,1,17,10,2017,0,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69420,10,0,D,0,0,0,0,0,0,70,...,21846,21841B1B,1,10,5,2018,0,,,
69421,39,,B,0,2759,2759,0,0,2759,90,...,182113B,,1,16,6,2018,6,,,
69422,8,,D,0,0,0,0,0,0,.03,...,18751A,,1,25,9,2018,8,,,
69423,35,,,0,0,0,0,0,0,.03,...,81326A,,,17,9,2018,8,,,
69424,10,0,D,0,0,0,0,0,0,48,...,181029A2,181028AA1,0,10,9,2018,8,18472,21846,

In [8]:
# replace missing with NaN to determine the percentage of missing/available values per column and store in csv file

# ussc_18.replace(' ', np.NaN, inplace=True)
# null = pd.DataFrame(ussc_18.isna().sum())
# null.to_csv('null_counts_2018.csv', index=False)
# null

In [30]:
# replace missing values with NaN for modified dataframe

mod.replace(' ', np.NaN, inplace=True)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/core/frame.py:5233: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [32]:
# 2) change SENTTOT to numeric to round and truncate values

mod['SENTTOT'] = pd.to_numeric(mod.SENTTOT, errors='ignore')

/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_12014/835424965.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mod['SENTTOT'] = pd.to_numeric(mod.SENTTOT, errors='ignore')

In [33]:
# change SENTTOT to float

mod['SENTTOT'].astype(float)

0        172.00
1          0.66
2          6.00
3          4.00
4          0.59
          ...
69420     70.00
69421     90.00
69422      0.03
69423      0.03
69424     48.00
Name: SENTTOT, Length: 69425, dtype: float64

In [34]:
# create roundSENTTOT round SENTTOT to nearest integer
mod['roundSENTTOT'] = round(mod.SENTTOT)
mod['roundSENTTOT']

/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_12014/1535680640.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  mod['roundSENTTOT'] = round(mod.SENTTOT)
/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_12014/1535680640.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mod['roundSENTTOT'] = round(mod.SENTTOT)

0        172.0
1          1.0
2          6.0
3          4.0
4          1.0
         ...
69420     70.0
69421     90.0
69422      0.0
69423      0.0
69424     48.0
Name: roundSENTTOT, Length: 69425, dtype: float64

In [35]:
# create floorSENTTOT to round SENTTOT to hundredths place
mod['floorSENTTOT'] = np.floor(mod.SENTTOT)

/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_12014/4123205763.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  mod['floorSENTTOT'] = np.floor(mod.SENTTOT)
/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_12014/4123205763.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mod['floorSENTTOT'] = np.floor(mod.SENTTOT)

In [36]:
# 3) reconcile the two variables 

def rec(row):
    if row['TOTPRISN'] == 9996:
        return 9996
    elif row['TOTPRISN'] == 9998:
        return 9998
    return row['SENTTOT']

In [37]:
mod['SENTTOT_new'] = mod.apply(rec, axis=1)

/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_12014/397169793.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mod['SENTTOT_new'] = mod.apply(rec, axis=1)

In [39]:
# 4) set NaN to 0 to indicate zero-length sentences
mod.SENTTOT.fillna(0, inplace=True)
mod.SENTTOT_new.fillna(0, inplace=True)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/core/generic.py:6383: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [40]:
# create SENTTOTFLAg to flag records later

mod['SENTTOTFLAG'] = ''

/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_12014/1002032427.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mod['SENTTOTFLAG'] = ''

In [41]:
# 5) preview column to determine truncation
mod.NWSTAT1

0         21841A1
1          81326A
2          81326A
3          81326A
4          81326A
           ...
69420       21846
69421     182113B
69422      18751A
69423      81326A
69424    181029A2
Name: NWSTAT1, Length: 69425, dtype: object

In [42]:
# preview value lengths for column to truncate
mod.NWSTAT1.str.len().value_counts()

6     22142
7     19339
5     18564
8      3894
10     2684
9      1110
3       884
11      445
4       336
12       26
13        1
Name: NWSTAT1, dtype: int64

In [45]:
# create function to identify index of first occuring letter and truncate before that index

def trunc(code):
    res = None
    temp = re.search(r'[a-z]', code, re.I)
    if temp is not None:
        res = temp.start()
        return code[:res]
    else:
        return code

In [46]:
# apply function for 5 columns and create new variables

# mod['USSCcode1'] = mod.NWSTAT1.apply(trunc)
# mod['USSCcode2'] = mod.NWSTAT2.apply(trunc)
# mod['USSCcode3'] = mod.NWSTAT3.apply(trunc)
# mod['USSCcode4'] = mod.NWSTAT4.apply(trunc)
# mod['USSCcode5'] = mod.NWSTAT5.apply(trunc)

/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_12014/515291226.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mod['USSCcode1'] = mod.NWSTAT1.apply(trunc)

TypeError: expected string or bytes-like object

In [47]:
# 6) replace NaN with NA
mod.replace(' ', np.NaN, inplace=True)
mod.fillna('NA', inplace=True)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/core/frame.py:5233: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/core/frame.py:5171: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [48]:
mod

,CIRCDIST,SAFETY,ZONE,AMTFINEC,AMTREST,AMTTOTAL,COSTSUP,FINE,TOTREST,SENTTOT,...,SENTYR,SENTRNGE,NWSTAT3,NWSTAT4,NWSTAT5,roundSENTTOT,floorSENTTOT,SENTTOT_new,SENTTOTFLAG,USSCcode1
0,43,0,D,0,0,0,0,0,0,172.00,...,2017,7,21846,NA,NA,172.0,172.0,172.00,,21841
1,80,NA,A,0,0,0,0,0,0,0.66,...,2017,0,NA,NA,NA,1.0,0.0,0.66,,81326
2,80,NA,C,0,0,0,0,0,0,6.00,...,2017,3,NA,NA,NA,6.0,6.0,6.00,,81326
3,80,NA,B,0,0,0,0,0,0,4.00,...,2017,3,NA,NA,NA,4.0,4.0,4.00,,81326
4,80,NA,A,0,0,0,0,0,0,0.59,...,2017,0,NA,NA,NA,1.0,0.0,0.59,,81326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69420,10,0,D,0,0,0,0,0,0,70.00,...,2018,0,NA,NA,NA,70.0,70.0,70.00,,21846
69421,39,NA,B,0,2759,2759,0,0,2759,90.00,...,2018,6,NA,NA,NA,90.0,90.0,90.00,,182113
69422,8,NA,D,0,0,0,0,0,0,0.03,...,2018,8,NA,NA,NA,0.0,0.0,0.03,,18751
69423,35,NA,NA,0,0,0,0,0,0,0.03,...,2018,8,NA,NA,NA,0.0,0.0,0.03,,81326
69424,10,0,D,0,0,0,0,0,0,48.00,...,2018,8,18472,21846,NA,48.0,48.0,48.00,,181029

In [49]:
#mod.to_csv('mod2_2018_v2.csv', index=False)